




.contact-postcard {
    position: relative;
    min-height: 620px;
    width: 100%;
    left: 80px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.postcard-back {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 10;
    width: 874px;
    height: 648px;
    margin-bottom: 20px;
}

.postcard-front {
    border-radius: 10px;
    position: absolute;
    justify-content: center;
    margin: 120px 0 20px 60px;
    z-index: 11;
    margin-top: ;
}


.contact-left {
    justify-content: center;    
    position: absolute;
    left: 0;
    z-index: 12;
    padding: 60px 30px 60px 60px;
    top: 195px;
    width: 350px;
    margin-left: 25px;
    
}

.contact-left h4 {
    text-align: center;
}


.contact-right .CR {
    position: absolute;
    margin-top: 260px;
    margin-left: 470px;
}

.contact-right ul {
    list-style: none;
    z-index: 14;
    position: absolute;
    width: 300px;
}

.contact-right ul li {
    margin-bottom: 15px;
    width: 300px;
    display: inline-block;  
}


section .test p{
    position: relative;
}

footer {
    justify-content: center;
    display: flex;
    background-color: DarkSalmon;
    color: white;
    position: relative;
    z-index: 40;
 
  }
