/* Destinations Styles START */

.tba-popular-dest {
    box-sizing: inherit;
    margin-bottom: 30px;
    display: block;
}

.tba-wrapper {
    box-sizing: inherit;
    max-width: 1110px;
    margin: 0 auto;
}

.tba-popular-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-item {
    margin: 0 auto 40px auto;
    padding: 15px 15px 30px 15px;
    border: 1px solid #e6e6e6;
    position: relative;
    background-color: white;
}


.popular-item a {
    background-color: inherit;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
}

.popular-item img {
    display: inline-flex;
    margin: 0 auto;
}


.DEST-background img {
    position: absolute;
    bottom: 10px;
    left: 50px;
    width: 230px;
    height: 50px;
}

.popular-item h4 {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 230px;
    height: 58px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    line-height: 2.5;
}


h4 {
    font-family: 'Lato', sans-serif;
    overflow-wrap: break-word;
}



/* Featured on the blog text start*/
.home-feat {
    background-color: white;
    
}

.home-feat h1 {
    color: #73736F;
    font-family: 'IvyMode-Light';
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    font-weight: 100;
    overflow-wrap: break-word;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.home-feat h1 span {
    color: #DBBBA0;
    font-family: 'SebastianBobby';
    letter-spacing: 3px;
    font-size: 70px;
    text-transform: initial;
    position: relative;
}
/* Featured on the blog text end*/


/* Feature Box Start */

.feat-wrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: inherit;
    max-width: 1110px;
    margin: 0 auto;
}

.feat-box {
    margin: 0 auto 40px auto;
    border: 1px solid #e6e6e6;
    position: relative;
    background-color: white;
    width: 317px;
    height: 435px;   
}

.feat-box .feat-background {
    padding: 10px;
    position: absolute;
    z-index: 1;
}


.feat-img {
    display: block;
    position: absolute;
    margin: 20px 18px;
    z-index: 2;
}

.feat-text {
    position: absolute;
    z-index: 100;
    margin: 310px 86px;
}

.feat-text h4 {
    color: #73736F;
    font-family: 'IvyMode-Light';
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 100;
    margin: 0 auto 10px auto;
    max-width: 275px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    text-align: center;
}

.feat-box a.link {
    color: #C5B8A8;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    width: 100%;
}

.feat-box a.link:hover {
    color: #000000;
}

h1 {
    color: #73736F;
    font-family: 'IvyMode-Light';
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 40px 0 30px;
    font-weight: 100;
}


footer {
    justify-content: center;
    display: flex;
    background-color: DarkSalmon;
    color: white;
    position: relative;
    z-index: 40;
  }
/* Destination Finish */