
body {
    margin: 0;
    font-family: "lato";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff; 
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
      
      a {
        display: block;
        padding: 8px;
        background-color: #dddddd;
      }
      
li a:hover {
        background-color: #111;
      }

.site-navbar {
    display: inline-block;
 }

.container {  
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
