
body {
    margin: 0px;
    padding: 0px;
    font-family: "lato";
    background-color: rgb(250, 244, 244); 
    }

/* HEADER IMAGES START */
.image-container img{
    width: 100%;
    max-height: 100%;
}
/* HEADER IMAGES END */

/* INDEX ARTICLE START */
article {
    padding: 18px 24px;
    text-align: left;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

article .content {
    width: 1200px;
    text-align: center;
}

article .content p{
    margin-top: 10px;
    letter-spacing: 0.08em;
    line-height: 1.6em;
}
/* INDEX ARTICLE END */

/* NAV BAR START*/
.navigation-bar {
    position: fixed;
    height: 70px;
    background: white;
    z-index: 999;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    font-family: "Lato-Bold";
}

.logo img {
    position: absolute;
    padding-left: 30px;
    padding-top: 10px;
    float: left;
    height: 50px;
}

.logo a, .logo a:visited {
    color: #999;
    text-decoration: none;
}

.nav-container {
    max-width: 1200px;
    margin: 0px auto;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    z-index: 9999;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a, nav ul li a:visited {
    display: block;
    padding: 0px 20px;
    line-height: 70px;
    background: white;
    color: black;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a:visited:hover {
    background: gray;
    color: white;
}
/* NAV BAR END */



/* INDEX ARTICLE INFORMATION STYLE START */
h2 {
    color: #DBBBA0;
    font-family: 'sebastian bobby';
    line-height: 15px;
    letter-spacing: 2px;
    font-size: 70px;
    text-transform: initial;
}

p {

    
}
/* INDEX ARTICLE INFORMATION STYLE START */


/* Destinations Styles START */
.feat-box {
    width: 100%;
    width: 340px;
    height: 430px;
    border: 5px solid transparent;
    background-clip: padding-box;
    box-shadow: 0 0 0 1px #f0ece9;
    background: url(images/featured-bg@2x.jpg) no-repeat;
    background-size: 320px 415px;
    background-position: center;
}


h3 {
    font-family: ivy mode;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 40px 0 30px;
    font-weight: 100;
}
/* Destinations Styles START */

.tba-popular-dest {
    box-sizing: inherit;
    margin-bottom: 30px;
    display: block;
}

.tba-wrapper {
    box-sizing: inherit;
    max-width: 1110px;
    margin: 0 auto;
}

.tba-popular-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




.popular-item {
    margin: 0 10px 40px auto;
    padding: 15px 15px 30px 15px;
    border: 1px solid #e6e6e6;
    position: relative;
    background-color: white;
}


.popular-item a {
    background-color: inherit;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
}

.popular-item img {
    display: inline-flex;
    margin: 0 auto;
}


.DEST-background img {
    position: absolute;
    bottom: 10px;
    left: 50px;
    width: 230px;
    height: 50px;
}

.popular-item h4 {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 230px;
    height: 58px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    line-height: 2.5;
}


h4 {
    font-family: 'Lato', sans-serif;
    overflow-wrap: break-word;
}

/* Index Image Button */
.image-container .btn {
    position: absolute;
    color: white;
    background: #C5B8A8;
    border: 1px solid #C5B8A8;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: 'Lato-BoldItalic';
    letter-spacing: 2px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .image-container .btn:hover {
    background-color: black;
  }

footer {
    
    justify-content: center;
    display: flex;
    background-color: DarkSalmon;
    color: white;

  }









