
body {
    margin: 0px;
    padding: 0px;

    background-color: rgb(250, 244, 244); 
    }

/* HEADER IMAGES START */
.image-container img{
    width: 100%;
    max-height: 100%;
}
/* HEADER IMAGES END */

/* INDEX ARTICLE START */
article {
    padding: 18px 24px;
    text-align: left;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

article .content {
    width: 1200px;
    text-align: center;
}

article .content p{
    margin-top: 10px;
    letter-spacing: 0.08em;
    line-height: 1.6em;
}
/* INDEX ARTICLE END */

/* NAV BAR START*/
.navigation-bar {
    position: fixed;
    height: 70px;
    background: white;
    z-index: 999;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    font-family: "Lato-Bold";
}

.logo img {
    position: absolute;
    padding-left: 30px;
    padding-top: 10px;
    float: left;
    height: 50px;
}

.logo a, .logo a:visited {
    color: #999;
    text-decoration: none;
}

.nav-container {
    max-width: 1200px;
    margin: 0px auto;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    z-index: 9999;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a, nav ul li a:visited {
    display: block;
    padding: 0px 20px;
    line-height: 70px;
    background: white;
    color: black;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a:visited:hover {
    background: gray;
    color: white;
}
/* NAV BAR END */



/* INDEX ARTICLE INFORMATION STYLE START */
article h1 {
    color: #73736F;
    font-family: 'IvyMode-Light';
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    margin: 40px 0 30px;
    font-weight: 100;
    margin-bottom: 60px;
}

h2 {
    color: #DBBBA0;
    font-family: 'SebastianBobbyAlt';
    letter-spacing: 2px;
    font-size: 58px;
    text-transform: initial;
}

article p {
    margin-bottom: 10px;
}

/* INDEX ARTICLE INFORMATION STYLE START */




/* Index Image Button Start */
.image-container .btn {
    position: absolute;
    color: white;
    background: #C5B8A8;
    border: 1px solid #C5B8A8;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 16px;
    font-family: 'Lato-BoldItalic';
    letter-spacing: 2px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .image-container .btn:hover {
    background-color: black;
  }
/* Index Image Button Finish */


footer {
    margin-top: 30px;
    justify-content: center;
    display: flex;
    background-color: DarkSalmon;
    color: white;
    position: relative;
    z-index: 40;
  }









